.jumbotron{
    border-color: brown;
    border: 1px solid brown;
    padding: 12px;
    margin: 0px;
    text-align: center;
    color: brown;
    background-color: beige;
    font-size: 28pt;
    font-weight: bold;
}
.subheader{
    margin: 0px;
    padding: 4px;
    text-align:center;
    background-color: brown;
    color: beige;
}