<mat-toolbar style="background-color: darkmagenta; color: black;">
    <mat-toolbar-row>
        <span class="title">{{title}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row style="color: black;">
        <button mat-button routerLink="/" style="color: black;">Home</button>
        <button mat-button routerLink="/emp-list" style="color: black;">Employee List</button>
        <button mat-button routerLink="/emp-add" style="color: black;">Add Employee</button>
    </mat-toolbar-row>
    
    
</mat-toolbar>