<div class="row">
    <h1>Customer List</h1><hr>
</div>
<div class="row m-10" style="color: red">{{errorText}}</div>
<div class="row mb-2">
    <div class="form-group col-md-12">
        <input class="form-control" [(ngModel)]="searchValue" placeholder="Search by Name"/>
    </div>
</div>
<div class="row">
    <table class="table striped-table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of cList | filterCustomer: searchValue">
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.address}}</td>
                <td>{{c.age}}</td>
                <td>
                    <button class="btn btn-outline-primary btn-sm mx-1" routerLink="/customer-view/{{c.id}}"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-outline-primary btn-sm mx-1" routerLink="/customer-edit/{{c.id}}"><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
