<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"><i class="fa fa-list"></i> Customer List</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link"  routerLink="/customer-add"><i class="fa fa-plus-circle"></i> Register Customer</a>
        </li>
    </ul>
</div>
</nav>